
@if ( rxResourceProduct.isLoading()) {
  <div class=" flex justify-center items-center h-screen">
<span class="loading loading-spinner loading-lg"></span>
</div>
}


@if (rxResourceProduct.hasValue()) {
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
    <product-carousel
    [images]="rxResourceProduct.value()?.images ?? []"/>
    <div>
      <h2 class="text-2xl font-bold font-montserrat">{{ rxResourceProduct.value()?.title }}</h2>

      <div class="divider"></div>
        <span class="font-bold">Description:</span>
        <p>{{ rxResourceProduct.value()?.description }}</p>
    </div>

  </div>

}
