<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a routerLink="/gender/men" routerLinkActive="text-secondary" class="btn btn-ghost">Hombres</a>
        </li>
        <li>
          <a routerLink="/gender/women" routerLinkActive="text-secondary" class="btn btn-ghost">Mujeres</a>
        </li>
        <li>
          <a routerLink="/gender/kid" routerLinkActive="text-secondary" class="btn btn-ghost">Kids</a>
        </li>

      </ul>
    </div>
    <a class="btn btn-ghost text-xl font-montserrat" routerLink="/">Teslo
      <span class="text-secondary">|Shop</span></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
          <a routerLink="/gender/men" routerLinkActive="text-secondary" class="btn btn-ghost">Hombres</a>
        </li>
        <li>
          <a routerLink="/gender/women" routerLinkActive="text-secondary" class="btn btn-ghost">Mujeres</a>
        </li>
        <li>
          <a routerLink="/gender/kid" routerLinkActive="text-secondary" class="btn btn-ghost">Kids</a>
        </li>
    </ul>
  </div>

  @if(isAuthenticated()){
  <div class="navbar-end">
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar bg-sky-600 ">
          <div class="rounded-full">
            <span class=" text-xl text-center text-white font-montserrat">{{ authService.user()?.fullName ?? '' | uppercase
              | initials }}</span>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          @if (isAdmin()) {
          <li>
            <a class="justify-between" routerLink="/admin">
              Ir al Panel
              <span class="badge bg-secondary text-white">Rol admin</span>
            </a>
          </li>
          }
          <li><span>{{ authService.user()?.fullName | titlecase}}</span></li>
          <li><a (click)="authService.logout()" class="text-accent" routerLink="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  }@else if(isNotAuthenticated()){
  <div class="navbar-end gap-2">
    <a class="btn btn-secondary " routerLink="/auth/login">Login</a>
  </div>
  }

</div>
