<!-- Slider main container -->
<div #swiperContainer class="swiper swiperContainer">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
      @for (image of images(); track $index) {
        <div class="swiper-slide">
          <img class="w-full object-cover animate-fadeIn" [src]="image | productImage" alt="producto" />
        </div>
      }@empty {
         <div class="swiper-slide">
          <img class="w-full object-cover animate-fadeIn" [src]="null | productImage" alt="producto" />
        </div>
      }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
